.link-container{
    background-color: darkcyan;
    padding: 10px;
}
.link-container a{
    text-decoration: none;
    padding-right: 10px;
    color: white;
    font-weight: bolder;
}

.nav-link{
    color: tomato !important;
}
.active{
    color: chartreuse !important;
}